* {
  margin: 0;
  padding: 0;
  font-family: 'BhuTuka Expanded One', cursive;
  font-family: 'Ibarra Real Nova', serif;
  font-family: 'Roboto', sans-serif;
}
.clearfix{
  clear: both;
}
.flex{
  display: flex;
}
.btn {
  /* align-items: center; */
  text-align: center;
  padding: 55px;
  cursor: pointer;
}

.section-title-white h3{
  padding: 20px;
}.section-title-white p{
  padding: 20px;
}
i.fa.fa {
  flex-direction: row;
  justify-content: center;
  display: flex;
  padding: 9px 26px;
  font-size: 24px;
  /* color: #8094b9; */
}


.section-title{
  padding: 30px;
  align-items: center;
}.section-title h3{
  font-size: 26px;
  text-align: center;
  padding: 10px;
  font-weight: 200;

}.section-title p{
  text-align: center;
  padding: 10px;
  font-family: lato;
}

.container-main{
  width: 1200px;
  margin: 0 auto;
}
.main {
  padding: 18px 90px;
  font-size: 51px;
}nav {
  margin-top: -92px 10px;
  margin-top: -92px;
  margin-right: -343px;
}.one-section {
  flex-direction: row;
  background-color: antiquewhite;
  height: 50px;
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 1px 20px;
  /* margin: 2px; */
}.one {
  display: flex;
}

.three-section {
  float: right;
  margin: -54px 120px;
}
.two-menu {
  /* display: inline-flex; */
  display: initial;
  padding: -10px;
}.two-menu ul {
  text-decoration: none;
  list-style: none;
  text-align: center;
}.two-menu li {
  /* display: flex; */
  display: inline-flex;
  padding: 8px 7px;
}.two-menu li.active {
  background-color: cornflowerblue;
  height: 8px;
}.two-menu li a:hover {
  transition: all 0.5s;
}.two-menu li, select {
  border: none;
}

/*
nav-bar-twomenu----end
*/
.banner {
  background-image: url(img/pexels-rodrigo-souza-2531709.jpg);
  background-position-x: center;
  background-position-y: 1368px;
  height: 500px;
}.felx {
  display: flex;
}.images-left {
  width: 50%;
  padding: 50px 61px;
}.banner-text-title {
  width: 50%;
  padding: 211px 4px;
}.banner-text-title p {
  font-family: lato;
  color: #fff;
  font-size: 19px;
  padding: 7px 0px;
}.banner-text-title h3 {
  font-size: 29px;
  font-family: lato;
  color: #fff;
}.banner-text-title p {
  font-family: lato;
  color: #fff;
  font-size: 19px;
  padding: 7px 0px;
}
.banner-text-title h4 {
  font-size: 30px;
  font-family: lato;
  padding: 10px 0px;
  color: #fff;
}

/*
banner-produts------end
*/
.section-active-banner {
  background-color: #fff;
}.section-active {
  display: flex;
  padding: 76px 147px;
}.box-1 {
  width: 25%;
  height: 240px;
  background-color: #085472;
  margin: 2px;
  padding: 10px 10px;
  text-align: center;;
}.box-1 h4 {
  font-size: 15px;
  color: #fff;
}.box-1 p {
  font-size: 12px;
  color: #fff;
}

/*
section-produts------end-
*/

.welcome-section {
  background-color: #efefef;
  padding: 20px 10px;
}.welcome-title {
  padding: 20px 10px;
}

/*.welcome-title h3 {
  font-size: 15px;
  font-family: lato;
  text-align: center;
}.welcome-title p {
  font-size: 16px;
  text-align: center;
}*/.welcome-content {
  display: flex;
  /* padding: 25px 153px; */
  /* width: 50%; */
}.box-2 {
  width: 33%;
  height: 336px;
  margin: 2px;
  background-color: #f8f8f8;

}.box-2 h6 {
  font-size: 15px;
  padding: 10px;
}.box-2 h5 {
  color: aqua;
  font-size: 15px;
  padding: 10px;
}.box-2 p {
  font-size: 14px;
  text-align: left;
  padding: 0px 10px;
}


/*
welcome-produts------end-
*/

.read-content{
  background-color: #085472;
  height: 500px;
}.read-section{
  text-align: center;
  padding: 40px 10px;
}.read-section h5{
  font-size: 18px;
  text-align: center;
  color: #fff;
}.read-section p{
  color: #fff;
  text-align: center;
  font-size: 16px;
}.read-title {
  background-image: url(img/22222.png);
  height: 1053px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: -7px 143px;
}

/*.left-dir {
  top: 50%;
  background: url(https://images.freecreatives.com/images/img/icons.svg) 0 -71px no-repeat;
  margin-top: -40px;
  width: 26px;
  position: fixed;
  height: 80px;
  left: 18px;
  z-index: 8;
}.right-dir {
  top: 50%;
  background: url(https://images.freecreatives.com/images/img/icons.svg) -65px -73px no-repeat;
  margin-top: -40px;
  width: 26px;
  position: fixed;
  right: 0;
  height: 82px;
  float: right;
  margin-right: 18px;
  z-index: 8;
}*/
/*
read-content-------end-
*/


.featured-produts{
  padding: 20px;
}
.featured-content ul {
  display: flex;
  padding: 27px 0px;
  padding-left: 419px;
}.featured-content li.active {
  color: #fff;
  background: #20cbf9;
}.featured-content li{
  display: inline-flex;
  padding: 10px;
  float: left;
  margin: 1px;
  align-items: center;
  border: 1px solid #b1b1b1;
}.align-items {
  padding: 20px;
  cursor: pointer;
}
.featured-content h4{
  font-size: 18px;
  text-align: center;
  padding: 12px;
}.featured-title {

  display: flex;
 
}.box-11 {
  width: 27%;
  height: 324px;
  background-color: #f8f8f8;
  margin: 2px;
 
} .box-11 p{
  font-size: 15px;
  text-align: center;
}
.box-13 {
  width: 27%;
  height: 324px;
  background-color: #000;
  margin: 2px;
  color: #fff;
}.box-13 p{
  font-size: 15px;
  text-align: center;
}.box-13 h4{
  font-size: 16px;
  padding: 8px;
}
.arrow-up {
  width: 0;
  height: 0;
  border-right: 24px solid transparent;
  border-bottom: 20px solid #060707;
  border-left: 24px solid transparent;
  position: relative;
  left: 127px;
  top: -24px;
}
/*
featured-produts------end-
*/



.breaking-section{
  background-color: #f8f8f8;
}.breaking-content{
  padding: 20px 10px;
}.breaking-content h4{
  font-size: 19px;
  font-family: lato;
  text-align: center
}.breaking-content p {
  font-size: 12px;
  text-align: center;
}

.breaking-title {
  display: flex;
  padding: 41px;
}
/*.breaking-sent {
  padding: 51px 0px;
  display: flex;
}*/
.box-4 {

  float: left;
}

.box-9 {
  width: 33%;
  height: 20px;
}

.box-5 h6 {
  font-size: 12px;
  text-align: center;
  text-align: left;
  padding: 5px 113px;
}

.box-5 p {
  font-size: 10px;
  text-align: center;
  text-align: left;
  padding: 2px 113px;
}
/*breaking-produts------end*/


.center-align{
  display: flex;
}
border{

  width: 75px;
  height: 0px;
  border-top: 4px solid #21a9e8;
  position: relative;
  bottom: -2px;
  color: #fff;
}.border-set{
  width: 25px;
  height: 25px;
  border: 2px solid #20cbf9;
  background-color: #20cbf9;
  position: absolute;
  left: 19px;
}
.border {
  border-top: 2px solid #355;
  width: 60px;
  height: 20px;
}
/*happy-customer------end*/

.happy-customer {
  height: 350px;
  background-image: url(img/wepik-photo-mode-202273-102338.png);
  padding: 58px 0px;
}


.happy-content {
  padding: 10px;
}

.happy-content h3 {
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.happy-title {
  text-align: center;
}


.para-happy-content p {
  font-size: 15px;
  text-align: center;
  border: 2px solid #efefef;
  padding: 36px 10px;
  color: #Fff;
}

.happy-c5l {
  text-align: center;
  padding: 10px;
}

.happy-c5l h5 {
  font-size: 29px;
  color: #fff;
}

.happy-c5l span {
  font-size: 19px;
  color: #fff;
}
/*happy-customer------end*/

.core-features-adel {
  padding: 20px;
}

.core-section {
  padding: 15px;
}

.core-section h2 {
  font-size: 33px;
  font-family: lato;
  text-align: center;
}

.core-section p {
  text-align: center;
  padding: -1px;
  margin: 10px 10px;
  font-size: 12px;
}

.core-title {
  display: flex;
  padding: 25px 10px;
}

.box-6 h5 {
  font-size: 16px;
  text-align: center;
  color: #5c5353;
  text-align: left;
  padding: 0px 75px;
}

.box-6 p {
  font-size: 12px;
  padding: 2px 70px;
  color: #aba7a9;
  text-align: left;
}

.circle-1 {
  width: 51px;
  height: 51px;
  border: 2px solid #f5f5f5;
  padding: 6px 0px;
  border-radius: 9%;
  margin-bottom: -76px;
  background-color: #20cbf9;
  color: #fff;
}


.box-7 {
  padding: 0px 24px;
}
  .section-box-content {
    display: flex;
    padding: 25px 9px;
  }
  /*core-section-----end*/




.meet-team-header{
align-items: center;
margin: 2px;
background-color: #efefef;
}.meet-section{
  align-items: center;
}.meet-section h5{
  text-align: center;
  font-size: 18px;
  font-family: lato;

}.meet-section p{
  text-align: center;
  font-size: 12px;
}.team-meet{
  display: flex;
}.box-8 {
  width: 33%;
  height: 426px;
  margin: 22px;
  background-color: #fff;
}

.box-8 h6 {
  font-size: 21px;
  /* padding: 6px; */
  color: #6d6567;

}

.pacc-border {
  padding: 17px;
}

.box-8 h4 {
  font-size: 17px;
  color: #9d9795;
}

.box-8 p {
  font-size: 16px;
  color: #c4c9ca;
  text-align: inherit;
  padding: 15px 0px;
}
/*meet-team-header------end*/

.offer-letter {
background-image: url(img/wepik-photo-mode-202273-102439.png);
}

.offer-title {
  padding: 30px 10px;
}

.offer-content{
align-items: center;
}.offer-content h2 {
  font-size: 28px;
  text-align: center;
  padding: 15px;
  color: #fff;
}

.offer-content p {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  color: #fff;
}
.section-title-white {
  color: #fff;
  text-align: center;
}

input.button {
  align-items: center;
  align-items: center;
  text-align: center;
  padding: 8px 17px;
  /* padding-left: 13px; */
  background-color: #142f3c;
  color: #f8f1f1;
  border: none;
}
input.buto {
  padding: 6px 17px;
  background: #76afce;
  color: #fff;
}
input.butto {
  padding: 7px 11px;
  background-color: #2399ce;
  color: #fff;
  border: none;
}
/*offertittle------end*/
.font-icons-items{
  background-color: #085472;
}.font-items{
  display: flex;
}.font-items li{
  color: #fff;
}.font-items ul {display: flex;/* color: #fff; */  list-style: none;
  text-decoration: none;padding-left: 492px;}
.footer-content {
  background-color: #3e4346;
  height: 269px;
  padding: 50px;

}

.boox-section {
  display: flex;
  width: 33%;
}

.box-14 {
  display: flex;
  width: 50%;
}

.box-14 h6 {
  padding: 10px;
}
.bi-3 {
  padding: 31px 54px;
  font-size: 32px;
}
.bi-4 {
  display: flex;
  padding: 46px 66px;
  list-style: none;
  text-decoration: none;
  padding: 10;
}.bi-4  li{
  padding: 10px;
}